In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/postgres')

In [4]:
engine.connect()

In [16]:
# df_clickStream = pd.read_csv("data/click_stream.csv")
# df_transactions = pd.read_csv("data/transactions.csv")
# df_customer = pd.read_csv("data/customer.csv")
# df_product = pd.read_csv("data/product.csv", on_bad_lines='skip')

In [69]:
df_product = pd.read_csv("data/product.csv", on_bad_lines='skip')
df_product.dtypes

id                      int64
gender                 object
masterCategory         object
subCategory            object
articleType            object
baseColour             object
season                 object
year                  float64
usage                  object
productDisplayName     object
dtype: object

In [50]:
df_product['usage'] = df_product['usage'].fillna(0)

In [70]:
#columns that has null

df_product['usage'] = df_product['usage'].fillna(0) 
df_product['baseColour'] = df_product['baseColour'].fillna(" ")
df_product['season'] = df_product['season'].fillna(" ")
df_product['productDisplayName'] = df_product['productDisplayName'].fillna(" ")
df_product['year'] = df_product['year'].fillna(0)

In [71]:
df_product.groupby(['usage']).size()

usage
0                 317
Casual          34406
Ethnic           3208
Formal           2345
Home                1
Party              29
Smart Casual       67
Sports           4025
Travel             26
dtype: int64

In [72]:
df_product.groupby(['baseColour']).size()

baseColour
                       15
Beige                 749
Black                9728
Blue                 4918
Bronze                 95
Brown                3494
Burgundy               45
Charcoal              228
Coffee Brown           31
Copper                 86
Cream                 390
Fluorescent Green       5
Gold                  628
Green                2115
Grey                 2741
Grey Melange          146
Khaki                 139
Lavender              162
Lime Green              6
Magenta               129
Maroon                581
Mauve                  29
Metallic               43
Multi                 394
Mushroom Brown         16
Mustard                97
Navy Blue            1789
Nude                   23
Off White             182
Olive                 410
Orange                530
Peach                 195
Pink                 1860
Purple               1640
Red                  2455
Rose                   28
Rust                   66
Sea Green              22
Silver               1090
Skin                  179
Steel                 315
Tan                   114
Taupe                  11
Teal                  120
Turquoise Blue         69
White                5538
Yellow                778
dtype: int64

In [73]:
df_product.groupby(['season']).size()

season
             21
Fall      11431
Spring     2983
Summer    21472
Winter     8517
dtype: int64

In [64]:
df_product.groupby(['subCategory']).size()

subCategory
Accessories                   129
Apparel Set                   106
Bags                         3055
Bath and Body                  12
Beauty Accessories              4
Belts                         811
Bottomwear                   2694
Cufflinks                     108
Dress                         478
Eyes                           43
Eyewear                      1073
Flip Flops                    913
Fragrance                    1011
Free Gifts                    104
Gloves                         20
Hair                           19
Headwear                      293
Home Furnishing                 1
Innerwear                    1808
Jewellery                    1079
Lips                          527
Loungewear and Nightwear      470
Makeup                        307
Mufflers                       38
Nails                         329
Perfumes                        6
Sandal                        963
Saree                         427
Scarves                       118
Shoe Accessories               24
Shoes                        7343
Skin                           69
Skin Care                      77
Socks                         698
Sports Accessories              3
Sports Equipment               21
Stoles                         90
Ties                          258
Topwear                     15402
Umbrellas                       6
Vouchers                        1
Wallets                       933
Watches                      2542
Water Bottle                    7
Wristbands                      4
dtype: int64

In [66]:
df_product.groupby(['baseColour']).size()

baseColour
0                      15
Beige                 749
Black                9728
Blue                 4918
Bronze                 95
Brown                3494
Burgundy               45
Charcoal              228
Coffee Brown           31
Copper                 86
Cream                 390
Fluorescent Green       5
Gold                  628
Green                2115
Grey                 2741
Grey Melange          146
Khaki                 139
Lavender              162
Lime Green              6
Magenta               129
Maroon                581
Mauve                  29
Metallic               43
Multi                 394
Mushroom Brown         16
Mustard                97
Navy Blue            1789
Nude                   23
Off White             182
Olive                 410
Orange                530
Peach                 195
Pink                 1860
Purple               1640
Red                  2455
Rose                   28
Rust                   66
Sea Green              22
Silver               1090
Skin                  179
Steel                 315
Tan                   114
Taupe                  11
Teal                  120
Turquoise Blue         69
White                5538
Yellow                778
dtype: int64

In [74]:
df_product.groupby(['productDisplayName']).size()

productDisplayName
                                              7
109F Blue A-Line Dress                        1
109F Red & White A-Line Dress                 1
109F Women Beige Embroidered Top              1
109F Women Black & Cream Dress                1
                                             ..
s.Oliver Women's Striped Light Blue Top       1
s.Oliver Women's Tank Brown Top               1
s.Oliver Women's White Blouse Top             1
test dispName                                 1
united Colors Of Benetton Women Grey Tight    1
Length: 31122, dtype: int64

In [75]:
df_product.groupby(['year']).size()

year
0.0           1
2007.0        2
2008.0        7
2009.0       20
2010.0      846
2011.0    13672
2012.0    16288
2013.0     1212
2014.0      236
2015.0     2780
2016.0     6006
2017.0     2916
2018.0      405
2019.0       33
dtype: int64

In [76]:
df_product['year'] = df_product['year'].astype(int)

In [77]:
df_product.head()

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt

In [79]:
df_product = df_product.rename(columns={'id': 'product_id'})

In [80]:
print(pd.io.sql.get_schema(df_product, name = 'product_details', con=engine))

CREATE TABLE product_details (
	product_id BIGINT,
	gender TEXT,
	"masterCategory" TEXT,
	"subCategory" TEXT,
	"articleType" TEXT,
	"baseColour" TEXT,
	season TEXT,
	year BIGINT,
	usage TEXT,
	"productDisplayName" TEXT
)

In [ ]:
df_product = {
    'product_id' : pd.Int64Dtype(), 
	'gender' : str, 
	'masterCategory' : str, 
	'subCategory' : str, 
	'articleType' : str, 
	'baseColour' : str, 
	'season' : str, 
	'year' : pd.Int64Dtype(),
	'usage': str, 
	'productDisplayName' :str
}

In [81]:
df_product.head(5)

,product_id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012,Casual,Puma Men Grey T-shirt

In [20]:
df_product.to_sql(name='product_details', con=engine, index=False)

424

In [47]:
query = """
SELECT * FROM product_details where season != 'None';
"""
pd.read_sql(query, con=engine)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44398,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44399,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44400,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44401,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44402,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [46]:
query = """
SELECT count(*), usage from product_details group by usage;
SELECT * from product_details where year is null;
--SELECT count(*), "productDisplayName" from product_details group by "productDisplayName";
"""
pd.read_sql(query, con=engine)

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,53781,Men,Apparel,Topwear,Tshirts,Blue,None,None,Sports,Puma Men Blue Sless Round Neck T-shirt

In [30]:
query = """
SELECT count(*), "masterCategory" from product_details group by "masterCategory";
"""
pd.read_sql(query, con=engine)

   count  masterCategory
0    105      Free Items
1  11274     Accessories
2   9219        Footwear
3     25  Sporting Goods
4  21397         Apparel
5      1            Home
6   2403   Personal Care

In [48]:
query = """
SELECT count(*), usage from product_details group by usage;
"""
pd.read_sql(query, con=engine)

   count         usage
0     26        Travel
1  34406        Casual
2     67  Smart Casual
3    317          None
4   4025        Sports
5   3208        Ethnic
6      1          Home
7     29         Party
8   2345        Formal

## CUSTOMER

In [5]:
df_customer = pd.read_csv("data/customer.csv")
df_customer.dtypes

customer_id             int64
first_name             object
last_name              object
username               object
email                  object
gender                 object
birthdate              object
device_type            object
device_id              object
device_version         object
home_location_lat     float64
home_location_long    float64
home_location          object
home_country           object
first_join_date        object
dtype: object

In [6]:
df_customer.shape

(100000, 15)

In [99]:
df_customer.birthdate = pd.to_datetime(df_customer.birthdate)
df_customer.first_join_date = pd.to_datetime(df_customer.first_join_date)

In [100]:
df_customer.dtypes

customer_id                    int64
first_name                    object
last_name                     object
username                      object
email                         object
gender                        object
birthdate             datetime64[ns]
device_type                   object
device_id                     object
device_version                object
home_location_lat            float64
home_location_long           float64
home_location                 object
home_country                  object
first_join_date       datetime64[ns]
dtype: object

In [101]:
print(pd.io.sql.get_schema(df_customer, name = 'customer_details', con=engine))

CREATE TABLE customer_details (
	customer_id BIGINT,
	first_name TEXT,
	last_name TEXT,
	username TEXT,
	email TEXT,
	gender TEXT,
	birthdate TIMESTAMP WITHOUT TIME ZONE,
	device_type TEXT,
	device_id TEXT,
	device_version TEXT,
	home_location_lat FLOAT(53),
	home_location_long FLOAT(53),
	home_location TEXT,
	home_country TEXT,
	first_join_date TIMESTAMP WITHOUT TIME ZONE
)

In [ ]:
customer_details = {    
    'customer_id' : pd.Int64Dtype(),  
	'first_name' : str, 
	'last_name' : str, 
	'username' : str, 
	'email' : str, 
	'gender' : str, 
	'device_type' : str, 
	'device_id' : str, 
	'device_version' : str, 
	'home_location_lat' : float, 
	'home_location_long' : float, 
	'home_location' : str, 
	'home_country' : str	
}

parse_dates = ['birthdate', 'first_join_date']

## TRANSACTIONS

In [7]:
df_transactions = pd.read_csv("data/transaction_new.csv")

In [133]:
df_transactions.dtypes

created_at                 object
customer_id                 int64
booking_id                 object
session_id                 object
payment_method             object
payment_status             object
promo_amount                int64
promo_code                 object
shipment_fee                int64
shipment_date_limit        object
shipment_location_lat     float64
shipment_location_long    float64
total_amount                int64
product_id                  int64
quantity                    int64
item_price                  int64
dtype: object

In [8]:
df_transactions.shape

(1254585, 16)

In [134]:
print(pd.io.sql.get_schema(df_transactions, name = 'transaction_details', con=engine))

CREATE TABLE transaction_details (
	created_at TEXT,
	customer_id BIGINT,
	booking_id TEXT,
	session_id TEXT,
	payment_method TEXT,
	payment_status TEXT,
	promo_amount BIGINT,
	promo_code TEXT,
	shipment_fee BIGINT,
	shipment_date_limit TEXT,
	shipment_location_lat FLOAT(53),
	shipment_location_long FLOAT(53),
	total_amount BIGINT,
	product_id BIGINT,
	quantity BIGINT,
	item_price BIGINT
)

In [135]:
df_transactions.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,NaN,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,NaN,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,NaN,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,NaN,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753

In [138]:
df_transactions.groupby(['promo_code']).size()

promo_code
                 773446
AZ2022           131312
BUYMORE           98373
LIBURDONG         31084
SC2022            16649
STARTUP           16417
WEEKENDMANTAP     30013
WEEKENDSERU       91489
XX2022            65802
dtype: int64

In [137]:
df_transactions['promo_code'] = df_transactions['promo_code'].fillna(" ")

In [139]:
# filtering data
df_transactions.where(df_transactions['item_price'] > 0, inplace=True)

In [141]:
df_transactions.head()

,created_at,customer_id,booking_id,session_id,payment_method,payment_status,promo_amount,promo_code,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id,quantity,item_price
0,2018-07-29T15:22:01.458193Z,5868,186e2bee-0637-4710-8981-50c2d737bc42,3abaa6ce-e320-4e51-9469-d9f3fa328e86,Debit Card,Success,1415,WEEKENDSERU,10000,2018-08-03T05:07:24.812676Z,-8.227893,111.969107,199832,54728,1,191247
1,2018-07-30T12:40:22.365620Z,4774,caadb57b-e808-4f94-9e96-8a7d4c9898db,2ee5ead1-f13e-4759-92df-7ff48475e970,Credit Card,Success,0,,10000,2018-08-03T01:29:03.415705Z,3.013470,107.802514,155526,16193,1,145526
2,2018-09-15T11:51:17.365620Z,4774,6000fffb-9c1a-4f4a-9296-bc8f6b622b50,93325fb6-eb00-4268-bb0e-6471795a0ad0,OVO,Success,0,,10000,2018-09-18T08:41:49.422380Z,-2.579428,115.743885,550696,53686,4,135174
3,2018-11-01T11:23:48.365620Z,4774,f5e530a7-4350-4cd1-a3bc-525b5037bcab,bcad5a61-1b67-448d-8ff4-781d67bc56e4,Credit Card,Success,0,,0,2018-11-05T17:42:27.954235Z,-3.602334,120.363824,271012,20228,1,271012
4,2018-12-18T11:20:30.365620Z,4774,0efc0594-dbbf-4f9a-b0b0-a488cfddf8a2,df1042ab-13e6-4072-b9d2-64a81974c51a,Credit Card,Success,0,,0,2018-12-23T17:24:07.361785Z,-3.602334,120.363824,198753,55220,1,198753

In [ ]:
transaction_details = {
	#'created_at': str, 
	'customer_id': pd.Int64Dtype(), 
	'booking_id': str, 
	'session_id': str, 
	'payment_method': str, 
	'payment_status': str, 
	'promo_amount': pd.Int64Dtype(),
	'promo_code': str, 
	'shipment_fee': pd.Int64Dtype(),
	#'shipment_date_limit': str, 
	'shipment_location_lat': float, 
	'shipment_location_long': float, 
	'total_amount': pd.Int64Dtype(), 
	'product_id': pd.Int64Dtype(), 
	'quantity': pd.Int64Dtype(), 
	'item_price': pd.Int64Dtype(),
}

parse_dates = ['created_at', 'shipment_date_limit']

### CLICKSTREAM

In [9]:
df_clickStream = pd.read_csv("data/click_stream_new.csv")

In [10]:
df_clickStream.dtypes

session_id          object
event_name          object
event_time          object
event_id            object
traffic_source      object
product_id         float64
quantity           float64
item_price         float64
payment_status      object
search_keywords     object
promo_code          object
promo_amount       float64
dtype: object

In [14]:
df_clickStream.head()

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,0,0,0,,,,0
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,0,0,0,,,,0
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,0,0,0,,,,0
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315,4,313529,,,,0
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,0,0,0,Success,,,0

In [12]:
#Changing the null values

df_clickStream['product_id'] = df_clickStream['product_id'].fillna(0)
df_clickStream['quantity'] = df_clickStream['quantity'].fillna(0)
df_clickStream['item_price'] = df_clickStream['item_price'].fillna(0)
df_clickStream['payment_status'] = df_clickStream['payment_status'].fillna(" ")
df_clickStream['search_keywords'] = df_clickStream['search_keywords'].fillna(" ")
df_clickStream['promo_code'] = df_clickStream['promo_code'].fillna(" ")
df_clickStream['promo_amount'] = df_clickStream['promo_amount'].fillna(0)

In [13]:
df_clickStream['product_id'] = df_clickStream['product_id'].astype(int)
df_clickStream['quantity'] = df_clickStream['quantity'].astype(int)
df_clickStream['item_price'] = df_clickStream['item_price'].astype(int)
df_clickStream['promo_amount'] = df_clickStream['promo_amount'].astype(int)

In [150]:
print(pd.io.sql.get_schema(df_clickStream, name = 'clickstream_details', con=engine))

CREATE TABLE clickstream_details (
	session_id TEXT,
	event_name TEXT,
	event_time TEXT,
	event_id TEXT,
	traffic_source TEXT,
	product_id BIGINT,
	quantity BIGINT,
	item_price BIGINT,
	payment_status TEXT,
	search_keywords TEXT,
	promo_code TEXT,
	promo_amount BIGINT
)

In [ ]:
clickstream_details = {
	'session_id': str, 
	'event_name': str, 
	'event_id': str, 
	'traffic_source': str, 
	'product_id': pd.Int64Dtype(), 
	'quantity': pd.Int64Dtype(), 
	'item_price': pd.Int64Dtype(), 
	'payment_status': str, 
	'search_keywords': str, 
	'promo_code': str, 
	'promo_amount': pd.Int64Dtype()
}

parse_dates = ['event_time']

In [15]:
df_clickStream.to_csv('clickstream_updated.csv')